# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ahmadi roshan\pdf2txt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
